body {
    background-color: $background-color;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("images/desert.jpeg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed; 
}

.page-wrapper {
    display: grid;
    grid-template-columns: 2.5fr .5fr;
    //position: sticky;
    grid-gap: 40px;

}

.intro {
    grid-column: 1/-1;
    text-align: center;
}

.intro h1 {
    font-size: 100px;
    height: 80%;
    color: $box-details-color;
}

.explanation, .participation, .benefits, .requirements, .sidebar, .preamble{
    background-color: $background-color;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }

  .summary{

    font-size: 30px;
    background-color: $background-color;
  }