@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&family=Smokum&display=swap');


//fonts

@font-face {
    font-family: Egypt;
    src: url('fonts/egyptian.ttf');
}


$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif; 
$headings-font: 'Smokum', cursive;
$egypt-font: Egypt, bold;









//Colors

$primary-font-color: #22121a;
$secondary-font-color: #965217;
$h1-color: #85613f;
$box-details-color: #85613f;
$background-color: rgb(214, 184, 146, 0.9);
$link-colors: #234E90;
$link-colors-active: #d0d0d0;
$link-colors-hover: #089bb1;

